.proj_modal {
  background-color: rgba(0, 0, 0, 0.2);
  width: 100vw;
  height: 100vh;
  z-index: 0;
  top: 0;
  position: absolute;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  align-items: center;
}

.proj_modal_form{
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem;
}